@keyframes fade-in {
    0% {
        background-color: transparent
    }

    100% {
        background-color: black
    }
}

@keyframes fade-out {
    0% {
        background-color: black
    }

    100% {
        background-color: transparent
    }
}

@keyframes logo-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes logo-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

html {
    color: white;
}

.yeseva-one-regular,
#navbar {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans,
.section-title,
* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#blank h1 {
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 600;
    font-style: bold;
}

.prog {
    color: gray
}

.helm {
    color: goldenrod
}

.art {
    color: rgb(69, 51, 15)
}

#body {
    background-image: url(images/background/4.jpg);
    background-attachment: local;
    background-size: cover;
}

#filler {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    backdrop-filter: blur(1px);
    padding-bottom: 16rem;
}

#lower {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#navbar {
    font-weight: 700;
    font-style: bold;
}


.bg-appear {
    animation: fade-in 0.5s ease-in;
    background-color: black;
}

.bg-disappear {
    animation: fade-out 0.15s ease-in;
    background-color: transparent;
}

.logo-invis {
    animation: logo-out 0.15s ease-in;
    opacity: 0;
}

.logo-vis {
    animation: logo-in 0.5s ease-in;
    opacity: 1;
}

#team-cont h2 {
    font-weight: 500;
}

.gen-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: filter 1s, transform 1s;
}

.gen-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

.contact:hover {
    border: 2px solid white;
    transition: border 0.5s;
    cursor: pointer;
}

.contact:nth-child(2) {
    transition: filter 1s 200ms, transform 1s 200ms;
}

.contact:nth-child(3) {
    transition: filter 1s 300ms, transform 1s 300ms;
}

.contact:nth-child(4) {
    transition: filter 1s 400ms, transform 1s 400ms;
}

.contact:nth-child(5) {
    transition: filter 1s 500ms, transform 1s 500ms;
}

.tm-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(25%);
    transition: filter 1s 300ms, transform 1s 300ms;
}

.tm-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}


.member:nth-child(2) {
    transition: filter 1s 200ms, transform 1s 200ms;
}


.member:nth-child(3) {
    transition: filter 1s 100ms, transform 1s 100ms;
}


.member:nth-child(4) {
    transition: filter 1s 200ms, transform 1s 200ms;
}


.member:nth-child(5) {
    transition: filter 1s 300ms, transform 1s 300ms;
}

@media(preferes-reduced-motion) {
    .gen-hidden {
        transition: none
    }
}